<form action="" class="login flex-col">
    <p class="login__title">Login</p>
    
    <div class="login__field flex-col">
        <label for="username">Username</label>
        <input #username id="username" type="text" required>
    </div>

    <div class="login__field flex-col">
        <label for="password">Password</label>
        <input #password id="password" type="password" required>
    </div>

    <div class="login__remember-me">
        <input #rememberMe id="remember-me" type="checkbox">
        <label for="remember-me">Remember me</label>
    </div>

    <button class="login__button"
            (click)="attemptLogin(username.value, password.value, rememberMe.checked)"
    >
        Login
    </button>
</form>
