@import "../../variables.scss";
@import "../../styles.scss";

$element-vertical-margin: 60px;

:host {
    @extend .flex-col;
    margin: 100px auto;
    width: $content-width;

    @media screen and (max-width: 1200px) {
        width: $content-width-m;
    }

    > * {
        margin-bottom: $element-vertical-margin;
    }
}


.avatar {
    min-width: 130px;
    max-width: 130px;
    height: 130px;
    margin: 0 auto $element-vertical-margin;
}

.post {

    &__title {
        text-align: center;
        font-size: x-large;
        font-weight: 400;
        margin: $element-vertical-margin;
        min-height: 35px;
    } 

    &__body {
        min-height: 100px;
    }
}

.comment-section {
    @extend .flex-col;

    > * {
        margin-left: 15px;
        margin-bottom: 30px;
    }
    

    img {
        width: 90px;
        height: 90px;
    }

    .title-label {
        font-weight: 600;
    }
    
    textarea {
        height: 60px;
        padding: 10px;
        resize: none;
    
        + button {
            width: 90px;
            align-self: flex-end;
            margin-right: 20px;
            border-radius: 5px;
            border: solid 1px gray;
        }
    }
}
