@import '../../styles.scss';
@import '../../variables.scss';


.posts-ctn {
    @extend .flex-col;
    align-items: center;
    font-size: large;

    > .blog-element {
        margin: inherit auto;
        cursor: pointer;
        width: $content-width;


        @media screen and (max-width: 1200px) {
            width: $content-width-m;
        }

        .avatar {
            width: 200px;
            height: 200px;
        }
    
        .separator {
            font-size: xx-large;
            font-weight: 900;
        }
    }

}
